*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--rem);
}

body {
  min-width: 375px;
  margin: 0;
  background-color: var(--bcBody);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: $fRegular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh));
}

.page {
  flex-grow: 1;
  padding-top: 36px;
  padding-bottom: 64px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}