.button-load {
  display: grid;
  grid-column-end: 3;
  background-color: #ccc;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin: 50px auto 0;
  width: 150px;
}